<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mailpage</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/mail.css">
</head>
<body>
  <div class="container regBox">
    <form>
      <div class="form-group header">
        <h1>验证码</h1>
        <img src="img/locker.png" class="img-responsive">
      </div>
      <div class="formBox">
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail">
        </div>
        <div class="form-group codeBanner">
          <div class="btnDiv">
            <input type="button" class="btn" value="ID Code" id="idCode">
            <input type="text" class="form-control" placeholder="Code" id="inputCode">
          </div>
        </div>
      </div>
      <div class="form-group footer">
        <h1 id="Demo">Demo</h1>
        <input type="button" class="btn" value="Check Code" id="codeCheck">
      </div>
    </form>
  </div>
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/mail.js"></script>
</body>
</html>
